htm{
    font-size: 16px;
    font-family: "Quicksand";

}
header{
    background-color: #820ad1;
    height: 20vh;
}
body{
    margin: 0px;
    padding: 0px;
}
main{
    background-color: #ffffff;
    height: 80vh;
}
#header-icones{
    padding-top: 6vh;
    height: 7vh;
    align-items: center;
    display: flex;
}
#header-icones-esquerda{
    flex: 1;
    margin-left: 20px;
}
.header-icone-esquerda{
    background-color: #8c1ed5;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: block;
    text-align: center;
    line-height: 50px;
}
#header-icones-direita{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 20px;
}
.header-icone-direita{
    
}
#header-nome{
    clear:both; /* limpa ambos os lados para nenhum elemento flutuar*/
    height: 7vh;
    align-items: center;
    display: flex;
    color: #ffffff;
    margin-left: 20px;
    font-size: 1.2rem;
}
#header-icones a{
    color: #ffffff;
    font-size: 2rem;
}
footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #f2f2f2;
    width: 100%;
    padding: 20px;
}
footer a{
    Flex: 1;
    text-align: center;
}